<template>
  <div class="container-auth">
    <div class="auth">
      <h1>Вход в Kanban</h1>
      <br>
      <v-text-field
        label="Логин"
        v-model="email"
      />
      <v-text-field
        label="Пароль"
        type="password"
        v-model="password"
      />
      <v-btn type="button" @click="login">Войти</v-btn>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import api from '@/plugins/api.js';
import router from '@/router.js';

const email = ref('admin@mail.ru');
const password = ref('123');

function login() {
  api.post('api/auth/login', {
    email: email.value,
    password: password.value
  }).then(res => {
    localStorage.setItem('access_token', res.data.access_token);
    router.push({ name: 'Main'})
  });
}

</script>

<style scoped>
.container-auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(10px);
  z-index: 99;
}

.auth {
  position: fixed;
  top: 300px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 500px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  z-index: 100;
}
</style>
