<template>
  <div class="container-main">
    <h1>Домашняя страница</h1>
    {{ user }}
  </div>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import { useUserStore} from '@/stores/userStore.js';

const userStore = useUserStore()
const { user } = storeToRefs(userStore)

</script>

<style scoped>

</style>
