<template>
  <div class="container--about">
    <div style="display: flex; width: 600px;">
      <h1 style="margin-right: 20px;">Выберите проект:</h1>
      <v-select
        label="Проекты"
        :items="projects"
        item-text="name"
        item-value="id"
        return-object
        @update:modelValue="selectProject"
      ></v-select>
    </div>
    <div class="project--nav" v-if="project">
      <h1>{{ project.name }}</h1>
      <v-btn
        variant="outlined"
        class="project--nav--btn"
        @click="showTaskModal()"
        v-if="project.id"
      >
        Создать задачу
      </v-btn>
      <v-btn
        variant="outlined"
        class="project--nav--btn"
        @click="createBoard"
        v-if="project.id"
      >
        Создать доску
      </v-btn>
    </div>
    <Board
      v-for="(board, key) in boards"
      :key="key"
      :board="board"
      :statuses="statuses"
      @showBoardModal="showBoardModal"
      @deleteBoard="deleteBoard"
      @createColumn="createColumn"
      @deleteColumn="deleteColumn"
      @showColumnModal="showColumnModal"
      @showTaskModal="showTaskModal"
    />
    <TaskModal
      v-if="isShowTaskModal"
      :taskData="taskData"
      :projectId="projectId"
      :statuses="statuses"
      :performers="performers"
      :priorities="priorities"
      @hideTaskModal="hideTaskModal"
      @create="createTask"
    />
    <ColumnModal
      v-if="isShowColumnModal"
      :columnId="columnId"
      :columnName="columnName"
      :statuses="statuses"
      :columnStatuses="columnStatuses"
      @hideColumnModal="hideColumnModal"
      @update="updateColumn"
    />
    <BoardModal
      v-if="isShowBoardModal"
      :boardId="boardId"
      :boardName="boardName"
      @hideBoardModal="hideBoardModal"
      @update="updateBoard"
    />
  </div>
</template>

<script setup>
import { ref } from 'vue';
import api from '@/plugins/api.js';
import Board from '@/components/Board.vue';
import ColumnModal from '@/components/ColumnModal.vue';
import BoardModal from '@/components/BoardModal.vue';
import TaskModal from '@/components/TaskModal.vue';

const projects = ref([]);
const projectId = ref(null);

getProjectNameFromLocalStorage(projectId.value);
getProjects();
getStatuses();
getPriorities();
getPerformers();

/**
 * Получить список проектов
 * @returns {Promise<void>}
 */
async function getProjects() {
  const response = await api.get('/api/projects');
  projects.value = response.data.map((project) => {
    return {
      title: project.name,
      item: project.id,
    };
  });
}

/**
 * Получить последний выбранный проект из LocalStorage
 */
function getProjectNameFromLocalStorage() {
  if (localStorage.getItem('project_id')) {
    projectId.value = localStorage.getItem('project_id');
    selectProject(projectId.value);
  }
}

/**
 * Выбрать проект
 * @param selectedProjectId
 */
function selectProject(selectedProjectId) {
  if (selectedProjectId.item) {
    projectId.value = selectedProjectId.item;
    localStorage.setItem('project_id', projectId.value);
    getTasks(projectId.value);
  } else {
    projectId.value = selectedProjectId;
    localStorage.setItem('project_id', projectId.value);
    getTasks(projectId.value);
  }
}

const statuses = ref([]);

/**
 * Получить статусы задач
 * @returns {Promise<void>}
 */
async function getStatuses() {
  const response = await api.get('/api/statuses');
  statuses.value = response.data.map((status) => {
    return {
      title: status.name,
      item: status.id,
    };
  });
}

const priorities = ref(null);

/**
 * Получить приоритеты задач
 * @returns {Promise<void>}
 */
async function getPriorities() {
  const response = await api.get('/api/priorities');
  priorities.value = response.data.map((priority) => {
    return {
      title: priority.name,
      item: priority.key,
    };
  });
}

const performers = ref(null);

/**
 * Получить список пользователей
 * @returns {Promise<void>}
 */
async function getPerformers() {
  const response = await api.get('/api/users');
  performers.value = response.data.map((performer) => {
    return {
      title: performer.name + ' ' + performer.surname,
      item: performer.id,
    };
  });
}

const project = ref({});
const boards = ref([]);

/**
 * Получить задачи проекта
 * @returns {Promise<void>}
 */
async function getTasks(id) {
  const response = await api.get(`/api/project/${id}`);
  project.value = response.data[0];
  boards.value = response.data[0].boards;
}

const isShowTaskModal = ref(false);
const taskData = ref(null)
/**
 * Показать модальное окно для создания/редактирования задачи
 * @retro В идеале поделить по разным методам (создание/редактирование) ответственностям
 * @param data
 */
function showTaskModal(data = undefined) {
  taskData.value = data
  console.log(data);
  isShowTaskModal.value = !isShowTaskModal.value;
}

/**
 * Создать новую задачу
 * @returns {Promise<void>}
 */
async function createTask(data) {
  await api.post('/api/task/create', { ...data });
}

/**
 * Скрыть модальное окно для создания доски
 */
function hideTaskModal() {
  isShowTaskModal.value = !isShowTaskModal.value;
}

/**
 * Создать доску
 * @returns {Promise<void>}
 */
async function createBoard() {
  api.post(`/api/board/create/${projectId.value}`).then(() => {
    getTasks(projectId.value);
  });
}

const isShowBoardModal = ref(false);
const boardId = ref(null);
const boardName = ref('');

/**
 * Показать модальное окно для редактирования доски
 * @param id
 * @param name
 */
function showBoardModal(id, name) {
  boardId.value = id;
  boardName.value = name;
  isShowBoardModal.value = !isShowBoardModal.value;
}

/**
 * Обновить название доски
 * @param id
 * @param name
 * @returns {Promise<void>}
 */
async function updateBoard(id, name) {
  await api.put(`api/board/update/${id}`, {
    name
  }).then(() => {
    hideBoardModal();
    getTasks(projectId.value);
  });
}

/**
 * Скрыть модальное окно для редактирования доски
 */
function hideBoardModal() {
  isShowBoardModal.value = !isShowBoardModal.value;
  boardId.value = '';
  boardName.value = '';
}

/**
 * Удалить доску
 * @param id
 * @returns {Promise<void>}
 */
async function deleteBoard(id) {
  api.delete(`/api/board/delete/${id}`).then(() => {
    getTasks(projectId.value);
  });
}

/**
 * Создать колонку доски
 * @param id
 * @returns {Promise<void>}
 */
async function createColumn(id) {
  api.post(`/api/column/create/${id}`).then(() => {
    getTasks(projectId.value);
  });
}

const isShowColumnModal = ref(false);
const columnId = ref(null);
const columnName = ref('');
const columnStatuses = ref([]);

/**
 * Показать модальное окно для редактирования колонки
 * @param id
 * @param name
 */
function showColumnModal(id, name) {
  columnName.value = name;
  isShowColumnModal.value = !isShowColumnModal.value;
  getColumnStatuses(id);
}

/**
 * Получить статусы колонки
 * @param id
 * @returns {Promise<void>}
 */
async function getColumnStatuses(id) {
  const response = await api.get(`api/column/${id}/statuses`);
  response.data[0].statuses.forEach((status) => {
    columnStatuses.value.push(status.name);
  });
  columnId.value = id;
}

/**
 * Обновить название и статусы колонки
 * @param id
 * @param name
 * @param statuses
 * @returns {Promise<void>}
 */
async function updateColumn(id, name, statuses) {
  await api.put(`api/column/update/${id}`, {
    name, statuses
  }).then(() => {
    hideColumnModal();
    getTasks(projectId.value);
  });
}

/**
 * Скрыть модальное окно для редактирования колонки
 */
function hideColumnModal() {
  isShowColumnModal.value = !isShowColumnModal.value;
  columnId.value = '';
  columnName.value = '';
  columnStatuses.value = [];
}

/**
 * Удалить колонку доски
 * @param id
 * @returns {Promise<void>}
 */
async function deleteColumn(id) {
  api.delete(`/api/column/delete/${id}`).then(() => {
    getTasks(projectId.value);
  });
}

</script>

<style scoped>
.project--nav {
  display: flex;
  align-items: center;
}
.project--nav {
  text-decoration: none;
  color: black;
}
.project--nav--btn {
  margin: 0 10px;
}
</style>
