<template>
  <div>
    <div style="display: flex; align-items: center;">
      <h1>Пользователи</h1>
      <v-btn variant="outlined" style="margin-left: 10px" @click="showUserModal()">Добавить</v-btn>
    </div>
    <UserModal
      v-if="isShowUserModal"
      @hideUserModal="hideUserModal"
      @submit="createUser"
      @update="updateUser"
      :userData="userData"
    />
    <v-table>
      <thead>
      <tr>
        <th class="text-left">
          <h2>Имя</h2>
        </th>
        <th class="text-left">
          <h2>Фамилия</h2>
        </th>
        <th class="text-left">
          <h2>Email</h2>
        </th>
        <th class="text-left">
          <h2>Роль</h2>
        </th>
        <th class="text-left"></th>
        <th class="text-left"></th>
      </tr>
      </thead>
      <tbody>
      <tr
        v-for="user in users.data"
        :key="user.id"
      >
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td><v-btn variant="outlined" style="margin-left: 20px" @click="showUserModal(user.id)">Редактировать</v-btn></td>
        <td><v-btn variant="outlined" style="margin-left: 20px" @click="deleteUser(user.id)">Удалить</v-btn></td>
      </tr>
      </tbody>
    </v-table>
  </div>
</template>

<script setup>
import api from '@/plugins/api.js';
import { ref } from 'vue';
import UserModal from '@/components/UserModal.vue';

//section user data
const users = ref([]);

getUsers();

/**
 * Получить всех пользователей
 * @returns {Promise<void>}
 */
async function getUsers() {
  users.value = await api.get('/api/users');
}

/**
 * Создать пользователя
 * @param data
 * @returns {Promise<void>}
 */
async function createUser(data) {
  await api.post('api/users/create', {
    ...data
  }).then(res => {
    if (res.status === 201) {
      hideUserModal();
      alert('Пользователь создан');
    }
    getUsers();
  });
}

async function updateUser(data, id) {
  await api.put(`api/users/${id}`, {
    ...data
  }).then(res => {
    if (res.status === 201) {
      alert('Пользователь обновлен');
    }
    getUsers();
  });
}

/**
 * Удалить пользователя
 * @param id
 * @returns {Promise<void>}
 */
async function deleteUser(id) {
  await api.delete(`api/users/${id}`).then(res => {
    if (res.status === 201) {
      alert('Пользователь удален');
    }
    getUsers();
  });
}

//section create/update user
const isShowUserModal = ref(false);
const userData = ref(null);

/**
 * Показать модальное окно для создания/редактирования пользователя
 */
function showUserModal(id = null) {
  isShowUserModal.value = !isShowUserModal.value;
  if (id !== null) {
    userData.value = users.value.data.find(users => users.id === id);
  } else {
    userData.value = null;
  }
}

/**
 * Скрыть модальное окно для создания/редактирования пользователя
 */
function hideUserModal() {
  isShowUserModal.value = !isShowUserModal.value;
  userData.value = null;
}

</script>

<style scoped>

</style>
