<template>
  <div class="container-board" @click.self="hideBoardModal">
    <div class="board">
      <h1>Обновить доску:</h1>
      <br>
      <v-text-field
        label="Название доски"
        v-model="boardName"
      />
      <v-btn type="button" @click="emit('update', boardId, boardName)">Обновить</v-btn>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';

const props = defineProps({
  boardName: {
    type: String,
    required: false,
    default: () => ''
  },
  boardId: {
    type: Number,
    required: false,
    default: () => ''
  },
});

const emit = defineEmits(['hideBoardModal', 'update']);

const boardName = ref(props.boardName)

/**
 * Скрыть модальное окно для создания/редактирования колонки
 */
function hideBoardModal() {
  return emit('hideBoardModal');
}

</script>

<style scoped>
.container-board {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(10px);
  z-index: 99;
}

.board {
  color: black;
  position: fixed;
  top: 300px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 500px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  z-index: 100;
}
</style>
