<template>
  <div class="container--board">
    <div class="board--nav">
      <h1>{{ board.name }}</h1>
      <v-btn
        size="small"
        icon="$edit"
        variant="text"
        @click="emit('showBoardModal', board.id, board.name)"
      ></v-btn>
      <v-btn
        variant="outlined"
        class="board--nav--btn"
        @click="emit('createColumn', board.id)"
      >
        Создать колонку
      </v-btn>
      <v-btn
        size="small"
        icon="$cancel"
        variant="text"
        @click="emit('deleteBoard', board.id)"
      ></v-btn>
    </div>
    <div class="columns">
      <Column
        v-for="(column, key) in board.column"
        :key="key"
        :column="column"
        :statuses="statuses"
        @showTaskModal="showTaskModal"
        @showColumnModal="emit('showColumnModal', column.id, column.name)"
        @deleteColumn="emit('deleteColumn', column.id)"
      />
    </div>
  </div>
</template>

<script setup>
import Column from '@/components/Column.vue';

const props = defineProps({
  board: {
    type: Object,
    required: false,
    default: () => null
  },
  statuses: {
    type: Object,
    required: false,
    default: () => null
  },
});

const emit = defineEmits([
  'showBoardModal',
  'deleteBoard',
  'createColumn',
  'showColumnModal',
  'deleteColumn',
  'showTaskModal'
]);

function showTaskModal(data) {
  emit('showTaskModal', data)
}
</script>

<style scoped>
.container--board {
  background-color: #FCEDB2;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.board--nav {
  display: flex;
  align-items: center;
}
.board--nav--btn {
  margin: 0 10px;
}
.columns {
  display: flex;
}

</style>
