<template>
  <div class="container-column" @click.self="hideColumnModal">
    <div class="column">
      <h1>Обновить колонку:</h1>
      <br>
      <v-text-field
        label="Название колонки"
        v-model="columnName"
      />
      <v-select
        label="Статусы колонки"
        :items="statuses"
        item-text="title"
        item-value="item"
        v-model="columnStatuses"
        multiple
      ></v-select>
      <v-btn type="button" @click="emit('update', columnId, columnName, columnStatuses)">Обновить</v-btn>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';

const props = defineProps({
  statuses: {
    type: Array,
    required: false,
    default: () => []
  },
  columnStatuses: {
    type: Array,
    required: false,
    default: () => []
  },
  columnName: {
    type: String,
    required: false,
    default: () => ''
  },
  columnId: {
    type: Number,
    required: false,
    default: () => ''
  },
});

const emit = defineEmits(['hideColumnModal', 'update']);

const columnStatuses = ref(props.columnStatuses)
const columnName = ref(props.columnName)

/**
 * Скрыть модальное окно для создания/редактирования колонки
 */
function hideColumnModal() {
  return emit('hideColumnModal');
}

</script>

<style scoped>
.container-column {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(10px);
  z-index: 99;
}

.column {
  color: black;
  position: fixed;
  top: 300px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 500px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  z-index: 100;
}
</style>
