<template>
  <div class="column">
    <div class="column--nav">
      <div style="display: flex">
        <h2 style="margin-right: 10px">{{ column.name }}</h2>
        <v-btn
          size="small"
          icon="$edit"
          variant="text"
          @click="emit('showColumnModal', column.id, column.name)"
        ></v-btn>
      </div>
      <div class="column--delete--btn">
        <v-btn
          size="small"
          icon="$cancel"
          variant="text"
          @click="emit('deleteColumn', column.id)"
        ></v-btn>
      </div>
    </div>
    <div v-for="(task, key) in column.tasks"
         :key="`task-${key}`"
         class="task"
    >
      <v-expansion-panels>
        {{ task }}
        <v-expansion-panel
          :title="`${task.name} - ${task.status.title}`"
          :text="`${task.description}`"
        >
        </v-expansion-panel>
      </v-expansion-panels>
      <v-btn
        size="small"
        icon="$edit"
        variant="text"
        @click="showTaskModal(key)"
      ></v-btn>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  column: {
    type: Object,
    required: false,
    default: () => null
  },
  statuses: {
    type: Object,
    required: false,
    default: () => null
  },
});

const emit = defineEmits(['showColumnModal', 'deleteColumn', 'showTaskModal']);


function showTaskModal(key) {
  const data = {
    name: props.column.tasks[key].name,
    performer: props.column.tasks[key].performer_id,
    priority: props.column.tasks[key].priority,
    status: props.column.tasks[key].status,
    description: props.column.tasks[key].description,
    deadline: props.column.tasks[key].deadline,
  };
  emit('showTaskModal', data);
}
</script>

<style scoped>
.column {
  width: 500px;
  min-height: 200px;
  background-color: #5D7581;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.column--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column--delete--btn {
  right: 0;
  top: 0;
}
.task {
  display: flex;
  margin: 10px;
}
</style>
