<template>
  <nav class="container-nav">
    {{ user?.name }}
    <v-btn
      variant="outlined"
      class="link"
      color="red"
      @click="logout">Выйти</v-btn>
    <v-btn
      variant="outlined"
      class="link"
      v-if="user?.role === 'admin'"
    >
      <RouterLink class="link-style" :to="{ name: 'Users' }">Пользователи</RouterLink></v-btn>
    <v-btn
      variant="outlined"
      class="link"
    >
      <RouterLink class="link-style" :to="{ name: 'Main' }">Домашняя страница!</RouterLink></v-btn>
    <v-btn
      variant="outlined"
      class="link"
    >
      <RouterLink class="link-style" :to="{ name: 'Tasks' }">Задачи</RouterLink></v-btn>
  </nav>
</template>

<script setup>
import { RouterLink } from 'vue-router';
import { storeToRefs } from 'pinia';
import { useUserStore} from '@/stores/userStore.js';
import router from '@/router.js';

const userStore = useUserStore()
const { user } = storeToRefs(userStore)

function logout() {
  userStore.logout();
  router.push({ name: 'Authorisation' })
}
</script>

<style scoped>
.container-nav {
  border-bottom: 2px solid black;
  background-color: #F4BC9B;
  font-size: 22px;
  padding: 10px;
  display: flex;
}
.link {
  margin: 0 10px;
}
.link-style {
  text-decoration: none;
  color: black;
}
</style>