<template>
  <div class="container--board" @click.self="hideTaskModal">
    <div class="board">
      <h1>Создать задачу</h1>
      <br>
      <div class="board--data">
        <div style="width: 500px">
          <v-text-field
            label="Название задачи"
            v-model="name"
          />
          <v-textarea
            variant="filled"
            label="Описание задачи"
            auto-grow
            v-model="description"
          ></v-textarea>
          <v-select
            label="На кого назначена"
            :items="performers"
            item-text="title"
            item-value="item"
            return-object
            v-model="performer"
          ></v-select>
          <v-select
            label="Приоритет"
            :items="priorities"
            item-text="title"
            item-value="item"
            return-object
            v-model="priority"
          ></v-select>
          <v-select
            label="Статус задачи"
            :items="statuses"
            item-text="title"
            item-value="item"
            return-object
            v-model="status"
          ></v-select>
        </div>
        <div>
          <v-date-picker
            locale="ru-RU"
            first-day-of-week=1
            v-model="deadline"
          />
          {{ taskData }}
          {{ projectId }}
        </div>
      </div>
      <br>
      <v-btn type="button" @click="create">Создать задачу</v-btn>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';

const props = defineProps({
  projectId: { type: String, required: false, default: () => '' },
  statuses: {
    type: Array,
    required: false,
    default: () => []
  },
  performers: {
    type: Array,
    required: false,
    default: () => []
  },
  priorities: {
    type: Array,
    required: false,
    default: () => []
  },
  taskData: {
    type: Object,
    required: false,
    default: () => []
  },
});

const emit = defineEmits(['hideTaskModal', 'create']);

const name = ref(props.taskData?.name);
const performer = ref(props.taskData?.performer);
const priority = ref(props.taskData?.priority);
const status = ref(props.taskData?.status);
const description = ref(props.taskData?.description);
const deadline = ref(new Date(props.taskData?.deadline));

function create() {
  const data = {
    name: name.value,
    project_id: props.projectId,
    performer_id: performer.value,
    priority: priority.value,
    status_id: status.value,
    description: description.value,
    deadline: deadline.value,
  };
  console.log(data);
  emit('create', data);
}

/**
 * Скрыть модальное окно для создания/редактирования задачи
 */
function hideTaskModal() {
  return emit('hideTaskModal');
}

</script>

<style scoped>
.container--board {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(10px);
  z-index: 99;
}
.board {
  color: black;
  position: fixed;
  top: 300px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 1000px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  z-index: 100;
}
.board--data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
