<template>
  <div class="container-auth" @click.self="hideUserModal">
    <div class="auth">
      <h1 v-if="userData === null">Создать пользователя</h1>
      <h1 v-else>Обновить пользователя</h1>
      <br>
      <v-text-field
        label="Имя"
        v-model="name"
      />
      <v-text-field
        label="Фамилия"
        v-model="surname"
      />
      <v-text-field
        label="Почта"
        v-model="email"
      />
      <v-text-field
        label="Пароль"
        v-model="password"
      />
      <v-radio-group label="Роль" v-model="role">
        <v-radio label="Пользователь" value="default"/>
        <v-radio label="Админ" value="admin"/>
      </v-radio-group>
      <v-btn v-if="userData === null" type="button" @click="submit">Создать</v-btn>
      <v-btn v-else type="button" @click="update">Обновить</v-btn>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';

const props = defineProps({
  userData: {
    type: Object,
    required: false,
    default: () => null
  },
});

const emit = defineEmits(['hideUserModal', 'submit', 'update']);

/**
 * Скрыть модальное окно для создания/редактирования пользователя
 */
function hideUserModal() {
  return emit('hideUserModal');
}

const name = ref(props.userData?.name);
const surname = ref(props.userData?.surname);
const email = ref(props.userData?.email);
const password = ref(props.userData?.password);
const role = ref(props.userData?.role);

/**
 * Создать пользователя
 */
function submit() {
  const data = {
    name: name.value,
    surname: surname.value,
    email: email.value,
    password: password.value,
    role: role.value,
  };
  emit('submit', data);
}

/**
 * Создать пользователя
 */
function update() {
  const id = props.userData.id
  const data = {
    name: name?.value,
    surname: surname?.value,
    email: email?.value,
    password: password?.value,
    role: role?.value,
  };
  emit('update', data, id);
}
</script>

<style scoped>
.container-auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(10px);
  z-index: 99;
}

.auth {
  position: fixed;
  top: 300px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 500px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  z-index: 100;
}
</style>
