<template>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <Navigation />
  <RouterView class="container"/>
</template>

<script setup>
import { RouterView } from 'vue-router';
import Navigation from '@/components/Navigation.vue';

</script>

<style>
* {
  padding: 0;
  margin: 0;
}
.container {
  background-color: #D8E6EF;
  padding: 10px;
}
</style>